#root {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  margin: 0;
}

/* スマホ（幅が768px以下）の場合は幅100% */
@media (max-width: 768px) {
  #root {
    width: 100%;
  }
}

/* PC（幅が768px以上）の場合は幅50% */
@media (min-width: 768px) {
  #root {
    width: 50%;
  }
}
